# Zona horaria
TZ=Europe/Madrid

# Usuario y password para acceder a la UI/API de Kopia Server
KOPIA_USER=admin
KOPIA_SERVER_PASSWORD=CAMBIAR_POR_PASSWORD_SEGURA

# Password del repositorio de backup (se usa al crear/conectar repositorio)
KOPIA_REPOSITORY_PASSWORD=CAMBIAR_POR_PASSWORD_REPOSITORIO
